@import url('https://fonts.googleapis.com/css2?family=Actor&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@400;700&display=swap');
/*@import 'maplibre-gl/dist/maplibre-gl.css';*/

/*************************************************************************/
/* GENERAL                                                               */
/*************************************************************************/

html {
  height: 100%; /* Permet au body de prendre toute la hauteur */
  background-image: url("assets/background_new2.jpg");
}

body {
  margin: 0; /* Enlève les marges par défaut */
  padding: 0; /* Enlève les paddings par défaut */
  height: 100%; /* Prend toute la hauteur */
  display: flex; /* Flexbox pour aligner les éléments */
  flex-direction: column; /* Organise les éléments en colonne */
  overflow: auto; /* Permet le défilement si besoin */
}



/* Les navigateurs appliquent par défaut des marges et du padding à certains éléments (notamment body, h1, et p)*/
/* Il faut les enlever*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.spacer {
  background-color: transparent;
  width: 100%;
  flex-grow: 1;
  /* L'élément prend l'espace restant */
}

/* Titres des sections */
.section-title {
  text-align: center; /* Centrer le texte */
  font-size: 50px; /* Taille du texte */
  letter-spacing:1px;
  color: whitesmoke; /* Couleur claire */
  margin-bottom: 40px; /* Marge en bas */
  margin-top: 30px; /* Marge en haut */
  font-family: 'Poppins', sans-serif;
  font-weight: bold; /* Police en gras */
  text-transform: uppercase; /* Mettre tout le texte en majuscules */
  background: radial-gradient(circle, rgba(255,255,255,1) 10%,#FAF7EA 100%);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  /* État initial de l'animation */
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Animation quand le titre entre dans la fenêtre */
.section-title.visible {
  opacity: 1;
  transform: translateY(0);
}

/*************************************************************************/
/* SECTION HEADER                                                        */
/*************************************************************************/

.header {
  background-image: linear-gradient(to bottom, #9EC3CE 0%, #9EC3CE 1%, transparent 100%);
  display: flex; /* Utilisation de Flexbox pour l'agencement */
  align-items: center; /* Aligne les éléments verticalement au centre */
  justify-content: space-between; /* Espace entre les éléments */
  padding: 10px 20px; /* Espacement interne */
  color: whitesmoke; /* Couleur du texte */
  height: 9vh; /* Hauteur du header */
  width: 100%; /* Largeur de 100% */
  position: fixed; /* Fixe le header en haut */
  top: 0; /* Positionne en haut de la page */
  left: 0; /* Aligne à gauche */
  z-index: 3; /* Priorité d'affichage */

}

.central-container {
  display: flex; /* Flexbox pour organiser les éléments */
  gap: 10px; /* Espacement entre les éléments */
  justify-content: center; /* Centre les éléments horizontalement */
}

.custom-button {
  color:#FAF7EA; /* Couleur du texte */
  border: 1px solid #FAF7EA; /* Bordure blanche */
  padding: 8px 40px; /* Espacement interne du bouton */
  font-size: 16px; /* Taille du texte */
  border-radius: 10px; /* Bords arrondis */
  cursor: pointer; /* Curseur pointer au survol */
  transition: background-color 0.3s ease, opacity 0.3s ease; /* Animation au survol */
  margin: 10px; /* Marge autour du bouton */
  background-color: rgba(0, 0, 0, 0); /* Fond transparent */
  opacity: 0.9; /* Légère transparence */
}

.custom-button:hover {
  background-color: #e67331cd; /* Change la couleur de fond au survol */
}

.logo-container {
  display: flex; /* Flexbox pour organiser les éléments */
  align-items: center; /* Aligne les éléments au centre */
  justify-content: flex-start; /* Aligne à gauche */
  flex: 1; /* Permet de prendre toute la largeur disponible */
}

.logohead {
  height: 40px; /* Taille du logo */
}

.connexion-container {
  flex: 1; /* Prend toute la largeur restante */
  display: flex; /* Flexbox pour aligner les éléments */
  justify-content: flex-end; /* Aligne à droite */
}


/* Media Queries pour le responsive */

/* Petit écran (téléphones) */
@media (max-width: 900px) {
  .header {
    padding: 10px;
    height: auto;
    /* Ajuste la hauteur si nécessaire */
    flex-wrap: wrap;
    /* Permet aux éléments de passer à la ligne */
  }

  .central-container {
    flex-direction: column;
    gap: 5px;
  }

  .custom-button {
    padding: 6px 20px;
    font-size: 14px;
  }

  .logohead {
    height: 30px;
  }
}

/* Très petit écran (petits téléphones) */
@media (max-width: 600px) {
  .header {
    padding: 5px;
  }

  .custom-button {
    padding: 5px 15px;
    font-size: 12px;
  }

  .logohead {
    height: 25px;
  }

  .central-container {
    gap: 2px;
  }
}


/*************************************************************************/
/* SECTION PRÉSENTATION                                                  */
/*************************************************************************/

@keyframes fadeInUp {
  0% {
    opacity: 0; /* Début invisible */
    transform: translateY(50px); /* Position initiale décalée */
  }
  100% {
    opacity: 1; /* Deviens visible */
    transform: translateY(0); /* Retourne à la position initiale */
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1; /* Début visible */
    transform: translateY(0); /* Position initiale */
  }
  100% {
    opacity: 0; /* Deviens invisible */
    transform: translateY(-50px); /* Déplacement vers le haut */
  }
}

.contentprez {
  display: flex; /* Utilisation de Flexbox */
  flex-direction: column; /* Organise les éléments en colonne */
  justify-content: center; /* Centrer verticalement */
  align-items: center; /* Centrer horizontalement */
  height: 100vh; /* Hauteur égale à la taille de la fenêtre */
  color: whitesmoke; /* Couleur du texte */
  background-image: linear-gradient(to bottom, #9EC3CE 0%, #9EC3CE 8%, transparent 40%), url("assets/background_new2.jpg");
  background-size: cover; /* L'image couvre toute la zone */
  background-repeat: no-repeat; /* Pas de répétition de l'image */
  background-position: top; /* Positionner l'image en haut */
  position: sticky; /* Reste fixé en haut lorsqu'on fait défiler */
  top: 0; /* Fixe la position à 0 */
  z-index: 1; /* Définit l'ordre d'empilement */
  min-height: 100vh; /* Hauteur minimale de la fenêtre */
}

.presentation {
  margin: 0; /* Pas de marges */
  display: flex; /* Utilisation de Flexbox */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  padding: 0 15rem; /* Espacement horizontal autour du texte */
  font-size: 40px; /* Taille du texte */
  text-align: center; /* Centrer le texte */
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8); /* Ombre portée pour le texte */
  opacity: 0; /* Texte initialement invisible */
  transform: translateY(50px); /* Texte initialement décalé */
  animation: fadeInUp 2.2s ease-out forwards; /* Animation d'entrée */
}

.fade-out {
  animation: fadeOut 2.2s ease-out forwards; /* Animation de sortie */
}

/*************************************************************************/
/* SECTION GEOLOCALISATION                                               */
/*************************************************************************/
.geoloc {
  margin: 20px; /* Marge autour de la section */
  margin-left: 100px; /* Marge à gauche */
  margin-right: 100px; /* Marge à droite */
  padding-top: 32px; /* Espacement du contenu avec le haut */
  text-align: center; /* Centrage du texte */
  position: relative; /* Permet d'utiliser des éléments positionnés */
  width: auto; /* Largeur s'adapte au contenu */
  height: auto ; /* Hauteur de la section à 50% de la hauteur de la fenêtre */
  display: flex; /* Flexbox pour organiser les éléments */
  flex-direction: column; /* Organisation en colonne */
  align-items: center; /* Centrage horizontal */
  justify-content: center; /* Centrage vertical */
  background-color: rgba(203, 218, 223, 0.4); /* Arrière-plan gris semi-transparent */
  background-position: center; /* Centrage de l'image de fond */
  background-size: cover; /* Image couvre toute la section */
  border-radius: 50px; /* Coins arrondis */
  
  backdrop-filter: blur(4px); /* Flou de l'arrière-plan */

  z-index: 2; /* Met cette section au-dessus des autres éléments */
}

/* Style du titre principal */
.geoloc h1 {
  color: transparent;
  background: linear-gradient(45deg, #123D55, #2C6B82); /* Dégradé bleu */
  background-clip: text; /* Applique le dégradé uniquement sur le texte */
  -webkit-background-clip: text;
  font-size: 40px;
  font-weight: 600;
  line-height: 1.4;
  max-width: 800px;
  width: 80%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* Ombre légère */
}


/* Conteneur des technologies */
.technologies-container {
  display: grid; /* Utilise une grille CSS */
  grid-template-columns: repeat(4, 1fr); /* 4 colonnes égales */
  gap: 32px; /* Espacement entre les éléments */
  max-width: 1200px; /* Largeur maximale du conteneur */
  margin: 0 auto; /* Centrage du conteneur */
  margin-top: 30px; /* Espacement au-dessus de la section */
}

/* Section d'une technologie individuelle */
.technology-section {
  margin: 10px; /* Espacement autour de chaque section */
  padding: 15px 20px; /* Espacement interne */
  background-color:#155c8f; /* Couleur de fond bleu-gris */
  border-radius: 50px; /* Coins arrondis */
  display: inline-flex; /* Flexbox pour centrer le contenu */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  position: relative; /* Position par rapport à son parent */
  overflow: hidden; /* Empêche l'extension du halo à l'extérieur */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transition fluide */
}

/* Titre dans chaque section de technologie */
.technology-section h2 {
  color: whitesmoke; /* Couleur du texte */
  font-size: 18px; /* Taille du texte */
  font-weight: 500; /* Poids de la police */
  text-align: center; /* Centrage du texte */
  position: relative; /* Position par rapport à son parent */
  z-index: 2; /* Texte au-dessus du halo */
}

/* Halo autour de chaque section de technologie */
.technology-section::before {
  content: ''; /* Crée un élément pseudo pour le halo */
  position: absolute; /* Position absolue du halo */
  top: -15px; /* Position du halo sur les côtés et en bas */
  left: -15px;
  right: -15px;
  bottom: -15px;
  background: rgba(255, 255, 255, 0.15); /* Halo transparent */
  border-radius: 50px; /* Halo arrondi */
  z-index: 1; /* Halo derrière le texte */
  opacity: 0; /* Halo invisible par défaut */
  transition: opacity 0.3s ease, box-shadow 0.3s ease; /* Transition pour l'effet */
}

/* Effet de halo au survol */
.technology-section:hover::before {
  opacity: 1; /* Halo visible au survol */
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); /* Lueur autour du halo */
}

/* Effet au survol de la section */
.technology-section:hover {
  transform: scale(1.05); /* Agrandissement au survol */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* Ombre autour de la section */
  background-color: #9EC3CE; /* Changement de couleur au survol */
}

/* RESPONSIVE : AJUSTEMENT SUR MOBILE */
@media (max-width: 768px) {
.geoloc {
  margin: 15px;
}

  .geoloc h1 {
    font-size: 30px;
  }

  .technologies-container {
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes sur mobile */
  }
}

@media (max-width: 480px) {
  .technologies-container {
    grid-template-columns: repeat(1, 1fr); /* 1 colonne sur très petit écran */
  }
}


/*************************************************************************/
/* SECTION TRACABILITE                                                   */
/*************************************************************************/

.trace {
  background-color: #123d55bf; /* Fond semi-transparent */
  backdrop-filter: blur(5px); /* Flou de l'arrière-plan */
  margin: 25px; /* Marge autour de la section */
  padding: 4rem 0; /* Espacement vertical de la section */
  z-index: 2; /* Place la section au-dessus des autres éléments */
  position: relative; /* Positionnement relatif pour un contrôle plus précis */
  bottom: 0; /* Place la section tout en bas */
  border-radius: 5px;
}

.trace-grid {
  max-width: 1200px; /* Largeur maximale du conteneur */
  margin: 0 auto; /* Centrage du conteneur */
  padding: 0 20px; /* Padding horizontal pour éviter que le contenu touche les bords */
  display: grid; /* Grille CSS pour organiser les éléments */
  grid-template-columns: 1fr 1fr; /* Deux colonnes de taille égale */
  gap: 3rem; /* Espacement entre les éléments */
  align-items: center; /* Aligne verticalement les éléments */
}

.trace-card {
  text-align: left; /* Aligne le texte à gauche */
}

.trace-features {
  display: flex; /* Utilisation de Flexbox pour aligner les éléments en colonne */
  flex-direction: column; /* Aligne les éléments de haut en bas */
  gap: 1.2rem; /* Espacement entre les éléments */
  margin-top: 40px; /* Marge au-dessus de la section */
 
}

.feature-item {
  font-size: 1.1rem; /* Taille du texte */
  line-height: 1.6; /* Hauteur de ligne pour améliorer la lisibilité */
  padding-left: 1.5rem; /* Décalage à gauche pour un alignement propre */
  position: relative; /* Positionnement relatif pour le pseudo-élément */
  color: whitesmoke; /* Couleur du texte en blanc cassé */
}

.feature-item::before {
  content: '✔'; /* Symbole de coche avant chaque élément */
  position: absolute; /* Positionne le symbole de coche */
  left: 0; /* Aligne le symbole de coche à gauche */
  color: #9EC3CE;/* Couleur du symbole de coche */
  font-weight: bold; /* Met le symbole en gras */
}

.trace-image img {
  max-width: 100%; /* L'image occupe toute la largeur de son conteneur */
  height: auto; /* Hauteur automatique pour conserver les proportions */
  border-radius: 10px; /* Coins arrondis de l'image */
  transition: transform 0.3s ease; /* Animation lors du survol */
}

.trace-image img:hover {
  transform: scale(1.03); /* Légère augmentation de la taille au survol */
}



@media (max-width: 780px) {
  .trace-grid {
    grid-template-columns: 1fr; /* Passe en une seule colonne */
    text-align: center; /* Centre le texte */
    gap: 2rem; /* Ajuste l'espacement */
  }

  .section-title {
      font-size: 2rem;
  }
  
  .feature-item {
      font-size: 1rem;
  }

  .trace-card {
    width: 100%; /* S'étend pour occuper tout l'espace */
  }

  .trace-image {
    width: 100%; /* Assure que l'image reste bien visible */
    display: flex;
    justify-content: center; /* Centre l'image */
  }

  .trace-image img {
    max-width: 80%; /* Évite que l'image touche les bords */
  }
}



/*************************************************************************/
/* SECTION SOLUTIONS                                                     */
/*************************************************************************/

/* Style de la section */
.solution {
  background-color:  #123d55bf; /* Fond semi-transparent */
  backdrop-filter: blur(5px); /* Flou de l'arrière-plan */
  margin: 25px; /* Marge autour de la section */
  color: whitesmoke; /* Couleur du texte */
  text-align: center; /* Centrer le texte */
  width: auto; /* Largeur automatique pour s'adapter au contenu */
  padding: 10px 0; /* Espacement vertical */
  z-index: 2; /* Place la section au-dessus des autres éléments */
  position: relative; /* Positionnement relatif */
  bottom: 0; /* Aligne la section en bas */
  border-radius: 5px;
}

/* Style de la grid */
.solution-grid {
  display: grid; /* Utilisation de la grille CSS */
  grid-template-columns: repeat(4, 1fr); /* 4 cartes par ligne */
  gap: 2rem; /* Espacement entre les cartes */
  max-width: 1200px; /* Largeur maximale du conteneur */
  margin: 0 auto; /* Centrage du conteneur */
}

/* Style de la carte */
.solution-card {
  padding: 2rem; /* Espacement interne de la carte */
  text-align: center; /* Texte centré dans la carte */
  background: transparent; /* Fond transparent */
}

/* Style du titre de la carte */
.solution-card h2 {
  color: #9EC3CE; /* Couleur du texte */
  margin-top: 10px; /* Marge au-dessus du titre */
  font-size: 20px; /* Taille du titre */
}

/* Style du texte dans la carte */
.solution-card p {
  color: whitesmoke; /* Couleur du texte */
  margin-top: 10px; /* Marge au-dessus du texte */
  font-size: 15px; /* Taille du texte */
}

/* Style de l'icône */
.solution-icon {
  background: #FAF7EA; /* Fond de l'icône */
  display: flex; /* Utilisation de Flexbox pour centrer l'icône */
  align-items: center; /* Centrage vertical de l'icône */
  justify-content: center; /* Centrage horizontal de l'icône */
  width: 80px;  /* Taille du cercle */
  height: 80px; /* Taille du cercle */
  border-radius: 10%; /* Coins légèrement arrondis */
  overflow: hidden; /* Cacher les parties dépassant du cercle */
  margin: 0 auto; /* Centre l'icône horizontalement */
  transition: transform 0.3s, box-shadow 0.3s; /* Effet de transition */
}

/* Style du logo dans l'icône */
.logo-solution {
  width: 70%;  /* Ajuste la taille de l'image à 70% du conteneur */
  height: 70%; /* Ajuste la hauteur de l'image à 70% du conteneur */
  object-fit: contain; /* Assure que l'image ne soit pas déformée */
}

/* Effet au survol pour l'icône */
.solution-icon:hover {
  transform: scale(1.1); /* Légère agrandissement au survol */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2); /* Ombre portée plus marquée */
}

/* Responsive */
@media (max-width: 768px) {
  .solution-grid {
    grid-template-columns: 1fr; /* Une seule carte par ligne pour les petits écrans */
  }

  .solution-icon {
    padding: 10px;
  }
}


/*************************************************************************/
/* SECTION CARACTERISTIQUES                                              */
/*************************************************************************/

/* Style général de la section "caract" */
.caract {
  background-color:  #123d55bf; /* Fond semi-transparent avec un léger flou */
  backdrop-filter: blur(5px); /* Applique un flou d'arrière-plan */
  margin: 25px; /* Marges extérieures */
  color: whitesmoke; /* Texte de couleur blanche */
  text-align: center; /* Centrage du texte */
  width: auto; /* La largeur s'adapte à son contenu */
  padding: 10px 0; /* Espacement vertical */
  z-index: 2; /* Définit l'ordre d'empilement (par rapport aux autres éléments) */
  position: relative; /* Permet de positionner l'élément par rapport à son parent */
  bottom: 0; /* Positionne l'élément au bas de son conteneur */
  border-radius: 5px;
}

/* Conteneur des cartes de caractéristiques */
.caract-grid, .caract-grid-2 {
  display: flex;
  justify-content: center; /* Centre les cartes */
  align-items: stretch; /* Fait en sorte que toutes les cartes aient la même hauteur */
  flex-wrap: wrap; /* Permet aux cartes de passer en colonne si elles se touchent */
  gap: 30px; /* Espace entre les cartes */
  width: 100%; /* Largeur pleine */
}

/* Style des cartes dans la section */
.caract-card {
  flex: 1; /* Fait en sorte que toutes les cartes prennent la même largeur */
  min-width: 320px; 
  max-width: 25%; /* Largeur maximale pour contrôler la taille des cartes */
  height: 370px; /* Hauteur fixe pour garantir la même taille pour toutes les cartes */
  background: radial-gradient(circle, #9EC3CE, rgba(203, 218, 223, 0.6)); /* Dégradé avec une transition plus douce */
  border-radius: 15px; /* Coins arrondis */
  padding: 20px; /* Espacement interne */
  text-align: center; /* Texte centré à l'intérieur de la carte */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Ombre portée pour donner du relief */
  color: whitesmoke; /* Texte en blanc */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Effet de transition pour l'agrandissement et l'ombre */
  margin-bottom: 30px; /* Espace sous chaque carte */
}

/* Effet au survol de la carte */
.caract-card:hover {
  transform: scale(1.05); /* Agrandissement léger de la carte */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.5); /* Ombre plus marquée au survol */
}


/* Style des titres des cartes */
.caract-card h2 {
  color: #123D55; /* Texte en blanc */
  margin-top: 10px; /* Espace au-dessus du titre */
  font-size: 20px; /* Taille du texte */
  margin-bottom: 20px;
}

/* Style du texte dans les cartes */
.caract-card p {
  color: #123D55;
  font-size: 14px;
  margin-top: 10px;
  word-wrap: break-word; /* Permet de couper les mots trop longs */
  overflow-wrap: break-word; /* Compatibilité avec tous les navigateurs */
  white-space: normal; /* Assure que le texte peut aller à la ligne */
}


/* Conteneur de l'icône dans la carte */
.caract-icon {
  background: #FAF7EA; /* Fond blanc */
  display: flex; /* Flexbox pour centrer l'icône */
  align-items: center; /* Centre l'icône verticalement */
  justify-content: center; /* Centre l'icône horizontalement */
  width: 65px; /* Taille de l'icône */
  height: 65px; /* Taille de l'icône */
  border-radius: 50%; /* Rend l'icône circulaire */
  overflow: hidden; /* Cache tout débordement */
  margin: 0 auto; /* Centre l'icône horizontalement */
}

/* Style de l'image dans l'icône */
.logo-carac {
  justify-items: center; /* Centre l'image dans son conteneur */
  width: 60%; /* L'image occupe 60% de la taille de son conteneur */
  height: 60%; /* L'image occupe 60% de la taille de son conteneur */
  object-fit: cover; /* Remplissage sans déformation de l'image */
}

 

/* Responsive */
@media (max-width: 768px) {
  /* Conteneur des cartes */
  .caract-grid, .caract-grid-2 {
    display: flex;
    flex-direction: column; /* Met les cartes en colonne */
    align-items: center; /* Centre toutes les cartes horizontalement */
    justify-content: center; /* Centre les cartes verticalement si besoin */
    gap: 40px; /* Espacement uniforme entre les cartes */
    padding: 0 20px; /* Réduit l’espacement latéral */
    width: 100%; /* Assure que le conteneur prend toute la largeur */
    max-width: 1200px; /* Empêche un étirement excessif des cartes */
    margin: 0 auto; /* Centre le conteneur */
  }
  
  .caract-grid {
    margin-bottom: 40px; /* Ajoute un espace de 40px sous la première grid */
  }
  

  /* Styles des cartes */
  .caract-card {
    width: 80vw; /* Augmente la largeur des cartes pour mieux occuper l'écran */
    min-width: 250px; /* Largeur minimale pour éviter que la carte soit trop petite */
    max-width: 90vw; /* Limite la largeur à 90% de l'écran */
    margin: 0; /* Enlève les marges latérales */
    padding: 15px; /* Réduit le padding pour plus d'espace sur les petits écrans */
  }

  .caract-card h2 {
    font-size: 18px; /* Réduit la taille du titre pour les petits écrans */
  }

  .caract-card p {
    font-size: 12px; /* Réduit la taille du texte */
  }

  /* Icone */
  .caract-icon {
    padding: 8px; /* Réduit le padding autour de l'icône */
  }

}


/*************************************************************************/
/* SECTION CERTIFICATIONS                                                */
/*************************************************************************/
/* Style général de la section "certif" */
.certif {
  background-color: #123d55bf; /* Fond semi-transparent avec un léger flou */
  backdrop-filter: blur(5px); /* Applique un flou d'arrière-plan */
  text-align: center; /* Centrage du texte */
  width: auto; /* La largeur s'adapte à son contenu */
  padding: 10px 0; /* Espacement vertical */
  z-index: 2; /* Définit l'ordre d'empilement (par rapport aux autres éléments) */
  position: relative; /* Permet de positionner l'élément par rapport à son parent */
  bottom: 0; /* Positionne l'élément au bas de son conteneur */
  margin: 25px; /* Marges extérieures */
  border-radius: 5px;
}

/* Grid pour organiser les cartes de certifications */
.certif-grid {
  display: grid; /* Utilisation de grid pour organiser les éléments */
  grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales pour les cartes */
  gap: 2% ; /* Espacement entre les cartes */
  max-width: 1200px; /* Largeur maximale */
  margin: 0 auto; /* Centrage du contenu */
}

/* Style du titre des cartes de certification */
.certif-card h2 {
  color: #9EC3CE; /* Couleur bleue du titre */
  margin-bottom: 35px; /* Espace sous le titre */
  font-size: 28px; /* Taille de la police du titre */
}

/* Conteneur des éléments dans la section certifications */
.certif-items {
  display: flex; /* Flexbox pour l'alignement */
  flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante si nécessaire */
  gap: 12px; /* Espacement entre les éléments */
  justify-content: center; /* Centre les éléments horizontalement */
  margin-bottom: 20px;
}

.certif-items span {
  margin-top: 8px;
  background: linear-gradient(45deg, #acd6e5b0, #155C8F); /* Dégradé du bleu clair translucide au bleu plus foncé */
  color: whitesmoke;
  padding: 10px 28px;
  border-radius: 50px; /* Bords arrondis plus marqués */
  font-weight: 500;
  text-align: center;
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); /* Ombre douce pour créer un effet de fondu */
  opacity: 0.9; /* Légère transparence pour un effet plus doux */
}

.certif-items span:hover {
  background: linear-gradient(45deg, #acd6e5b0, #155C8F); /* Maintien du dégradé */
  transform: scale(1.05); /* Augmentation de la taille au survol */
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25); /* Ombre douce et agrandie pour l'effet survolé */
  opacity: 1; /* Réduit la transparence au survol pour plus d'impact */
}


/* Style du logo des certifications */
.certif-logo {
  max-width: 150px; /* Largeur maximale du logo */
  height: auto; /* Laisser la hauteur s'ajuster automatiquement */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Effet de transition pour l'agrandissement et l'ombre */
  filter: invert(1); /* Inverse les couleurs du logo (utile pour un logo sombre sur fond clair) */
  margin-bottom: 20px;
}

/* Effet au survol du logo de certification */
.certif-logo:hover {
  transform: scale(1.1); /* Agrandissement léger du logo au survol */
}

@media (max-width: 768px) {
  .certif-grid {
    grid-template-columns: 1fr; /* Passe à une seule colonne */
    gap: 20px; /* Augmente l’espacement */
  }

  .certif {
    padding: 30px 10px; /* Ajuste le padding global */
    margin: 15px; /* Réduit les marges */
  }

  .certif-card h2 {
    font-size: 22px; /* Réduction de la taille du titre */
  }

  .certif-items span {
    padding: 6px 16px; /* Réduction du padding des tags */
    font-size: 12px; /* Texte plus petit */
  }

  .certif-logo {
    max-width: 100px; /* Réduction de la taille du logo */
  }
}

/*************************************************************************/
/* SECTION PARTENARIAT                                                   */
/*************************************************************************/

.Partenariat {
  width: auto; /* La largeur s'adapte à son contenu */
  padding: 10px 0; /* Espacement vertical */
  background-color:  rgba(189, 189, 189, 0.4); /* Fond légèrement transparent pour la section */
  backdrop-filter: blur(40px); /* Applique un flou d'arrière-plan */
  text-align: center; /* Centre le texte à l'intérieur de la section */
  margin: 20px; /* Marge autour de la section */
  color: whitesmoke; /* Couleur du texte en blanc cassé */
  height: auto; /* Hauteur automatique selon le contenu */
  position: relative; /* Positionnement relatif pour le contrôle z-index */
  z-index: 2; /* Met la section au-dessus d’autres éléments avec un z-index inférieur */
  border-bottom: 10px solid transparent; /* Bordure inférieure transparente */
  border-radius: 80px; /* Arrondi des coins */
  /* Garder la bordure transparente pour laisser de la place */
}

.industrial,
.financial {
  margin: 30px 0; /* Marge de 30px en haut et en bas pour ces éléments */
  color: #155C8F; /* Couleur bleue du titre */
  margin-bottom: 35px; /* Espace sous le titre */
  font-size: 20px; /* Taille de la police du titre */
}

.logos {
  display: flex; /* Utilisation de Flexbox pour organiser les logos */
  justify-content: center; /* Centre les logos horizontalement */
  align-items: center; /* Centre les logos verticalement */
  flex-wrap: wrap; /* Permet aux logos de passer à la ligne suivante si l'espace est insuffisant */
  gap: 5% ; /* Espace de 20px entre les logos */
  margin-top: 20px;
}

.logo {
  flex-basis: calc(25% - 20px); /* Chaque logo prend 25% de la largeur moins l'espace entre eux */
  max-width: 200px; /* Largeur maximale de chaque logo */
  max-height: 200px; /* Hauteur maximale de chaque logo */
  transition: transform 0.5s ease; /* Transition douce pour l'effet de transformation */
  opacity: 0; /* Opacité initiale de 0, peut être modifié avec un effet JavaScript ou au survol */
  margin-top: 20px;
}

.logo2 {
  flex-basis: calc(25% - 20px); /* Même calcul pour .logo2 */
  max-width: 250px; /* Largeur maximale de .logo2 */
  max-height: 200px; /* Hauteur maximale de .logo2 */
  transition: transform 0.5s ease; /* Transition douce pour l'effet de transformation */
  opacity: 0; /* Opacité initiale de 0, peut être modifié avec un effet JavaScript ou au survol */
}

.logo:hover {
  transform: scale(1.1) !important; /* Agrandit le logo lors du survol */
}

.logo2:hover {
  transform: scale(1.1) !important; /* Agrandit également .logo2 lors du survol */
}

a {
  display: inline-block; /* Transforme le lien en bloc en ligne */
  text-decoration: none; /* Retire la décoration du texte par défaut (souligné) */
}

/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {
  .logo, .logo2 {
    max-width: 150px; /* Réduction de la taille des logos */
    max-height: 150px;
  }
}

@media (max-width: 768px) {
  .logo, .logo2 {
    max-width: 120px; /* Réduction supplémentaire sur mobile */
    max-height: 120px;
  }

  .logos {
    gap: 8%; /* Ajuste l'espacement des logos */
  }
}

@media (max-width: 480px) {
  .logo, .logo2 {
    max-width: 90px; /* Réduction encore plus forte sur petits écrans */
    max-height: 90px;
  }

  .logos {
    gap: 5%; /* Évite un trop grand espace entre les logos */
  }
}
/*************************************************************************/
/* CONTACT SECTION                                                       */
/*************************************************************************/

/* Conteneur de la page de contact */
.contact-page {
  background-image: linear-gradient(to top,#9EC3CE 1%, transparent 60%); /* Image de fond avec un dégradé */
  background-position: center; /* Centre l'image de fond */
  padding: 50px 20px; /* Ajoute du padding autour du conteneur */
  color: whitesmoke; /* Couleur du texte en blanc */
  display: flex; /* Utilise Flexbox pour le positionnement */
  position: relative; /* Positionnement relatif pour contrôler le z-index */
  justify-content: center; /* Centre le contenu horizontalement */
  align-items: center; /* Centre le contenu verticalement */
  min-height: 100vh; /* La section occupe toute la hauteur de l'écran */
  z-index: 2; /* Niveau de superposition */
}

/* Conteneur du formulaire de contact */
.contact-container {
  background: #ffffff39; /* Fond semi-transparent */
  padding: 30px; /* Espacement intérieur du formulaire */
  border-radius: 10px; /* Bords arrondis */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Ombre portée autour du formulaire */
  width: 100%; /* Prend toute la largeur disponible */
  max-width: 600px; /* Largeur maximale du formulaire */
  text-align: center; /* Centre le texte dans le formulaire */
  color: #333; /* Couleur du texte du formulaire */
  z-index: 2; /* Niveau de superposition */
  backdrop-filter: blur(10px); /* Flou de l'arrière-plan */

}

/* Titre et description du formulaire */
.contact-title {
  font-size: 2.3rem; /* Taille du titre */
  margin-bottom: 15px; /* Espacement en bas du titre */
  color: #155C8F; /* Couleur du titre */
}

.contact-description {
  font-size: 1.2rem; /* Taille du texte de la description */
  margin-bottom: 25px; /* Espacement en bas de la description */
  color: #155C8F; /* Couleur de la description */
}

.sucecss-message {
  font-size: 1rem; /* Taille du texte pour le message de succès */
  padding-top: 10px; /* Espacement au-dessus du message */
  color: whitesmoke; /* Couleur du message de succès */
}

/* Champs de saisie du formulaire */
.contact-field,
.contact-textarea {
  width: 100%; /* Champs de saisie prennent toute la largeur */
  padding: 12px; /* Espacement intérieur des champs */
  margin-bottom: 15px; /* Espacement entre les champs */
  border-radius: 6px; /* Coins arrondis des champs */
  border: 1px solid white; /* Bordure grise claire */
  font-size: 1rem; /* Taille du texte dans les champs */
  transition: all 0.3s; /* Transition fluide lors de la mise au point */
}

/* Effet de mise au focus sur les champs de saisie */
.contact-field:focus,
.contact-textarea:focus {
  outline: none; /* Retire l'outline par défaut */
}

/* Style spécifique pour le champ de saisie de texte (textarea) */
.contact-textarea {
  resize: none; /* Empêche le redimensionnement du textarea */
}

/* Bouton de soumission du formulaire */
.contact-button {
  width: 100%; /* Le bouton prend toute la largeur du formulaire */
  padding: 12px; /* Espacement intérieur du bouton */
  background-color: #e67331cd; /* Couleur de fond du bouton */
  color: whitesmoke; /* Couleur du texte du bouton */
  border: none; /* Retire la bordure du bouton */
  border-radius: 6px; /* Coins arrondis du bouton */
  font-size: 1rem; /* Taille du texte du bouton */
  cursor: pointer; /* Change le curseur en pointeur au survol */
  transition: background-color 0.3s; /* Transition fluide pour le changement de couleur de fond */
}

/* Effet de survol sur le bouton */
.contact-button:hover {
  background-color: #e67331ef; /* Change la couleur de fond au survol */
}

/* Responsive design */
@media (max-width: 600px) {
  .contact-container {
    padding: 20px;
  }

  .contact-title {
    font-size: 1.5rem;
  }

  .contact-description {
    font-size: 0.9rem;
  }
}








/*************************************************************************/
/* SECTION FOOTER                                                        */
/*************************************************************************/

.footer {
  background-color:#9EC3CE;
  color: white;
  text-align: center;
  width: auto;
  z-index: 2;
  position: relative;
  padding: 8px 8px;
}

.footer strong {
  color: #155C8F;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.about-us{

  color: white;
  text-align: center;
  width: 100%; 
  padding: 10px 0; 
  z-index: 2;
  position: relative; 
  bottom: 0;

}

.about-content {
  display: flex;
  max-width: max-content;
  margin: 0 22rem;
  padding: 10px 0;
  
}

.column {
  width: 50%;
  text-align: left;
  padding: 10px;
}

.column h2 {
  margin-bottom: 10px;
}

/*************************************************************************/
/* SECTION LOGIN                                                         */
/*************************************************************************/


/* En-tête du formulaire de connexion */
.auth-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

/* Logo cliquable dans l'authenticator */
.auth-logo {

  justify-content: center;
  width: 250px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.auth-logo:hover {
  opacity: 0.8;
}


/*************************************************************************/
/* SECTION DASHBOARD                                                     */
/*************************************************************************/

.dashboard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* S'assure que le contenu commence bien sous le header */
  background-image: url("assets/background_new2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh; /* 🔹 Permet de couvrir toute la hauteur de l'écran */
  width: 100%;
}


.dashboard-content {
  margin-top: 9vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 30vh;
  background-image: url("assets/background_new2.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
  
}

.map-container {
  width: 80%;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  z-index:3;
  display: flex;
  align-items: center;
  position: relative;
}


/* 🔹 Style du menu déroulant */
.tracker-menu {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgb(255, 255, 255);
  color: #333;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  cursor: pointer;
  z-index: 10;
}

.tracker-menu summary {
  font-weight: bold;
  list-style: none;
  cursor: pointer;
}

.tracker-menu summary::after {
  content: " ▼";
  font-size: 12px;
}

.tracker-list {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.tracker-list label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  cursor: pointer;
}

.tracker-list input {
  cursor: pointer;
}

.map {
  width: 100%;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;  /* Toute la hauteur de l'écran */
  width: 100vw;   /* Largeur complète */
  background-image: url("assets/background_new2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
